{
    "features": [
      "HypervisorPlatform",
      "VirtualMachinePlatform",
      "Microsoft-Hyper-V-All",
      "Containers",
      "Containers-DisposableClientVM",
      "Microsoft-Windows-Subsystem-Linux"
    ],
    "applications": [
      "wsl2",
      "wsl-ubuntu-2004",
      "notepadplusplus",
      "nodejs",
      "git",
      "docker-desktop",
      "visualstudio2019enterprise",
      {
	    "visualstudio2019community",
		"package-parameters": {
			"--add Microsoft.VisualStudio.Workload.CoreEditor",
			"--add Microsoft.VisualStudio.Workload.Azure",
			"--add Microsoft.VisualStudio.Workload.Data",
			"--add Microsoft.VisualStudio.Workload.ManagedDesktop",
			"--add Microsoft.VisualStudio.Workload.NetCoreTools",
			"--add Microsoft.VisualStudio.Workload.NetWeb",
			"--add Microsoft.VisualStudio.Workload.Node",
			"--add Microsoft.VisualStudio.Workload.Python",
			"--add Microsoft.VisualStudio.Workload.Universal"
		}
	  },				
	  {
		"visualstudio2022professional-preview",
		"package-parameters": {
			"--add Microsoft.VisualStudio.Workload.CoreEditor",
			"--add Microsoft.VisualStudio.Workload.Azure",
			"--add Microsoft.VisualStudio.Workload.Data",
			"--add Microsoft.VisualStudio.Workload.ManagedDesktop",
			"--add Microsoft.VisualStudio.Workload.NetCoreTools",
			"--add Microsoft.VisualStudio.Workload.NetWeb",
			"--add Microsoft.VisualStudio.Workload.Node",
			"--add Microsoft.VisualStudio.Workload.Python",
			"--add Microsoft.VisualStudio.Workload.Universal"
		}
	  },				
	  {
		"vscode",
		"package-parameters": {
			"--install-extension ms-dotnettools.csharp",
			...
		}
	  },		
      "sql-server-management-studio",
      "ditto",
      "office2019proplus",
      "spotify",
      "telegram",
      "paint.net",
      "googlechrome",
      "openconnect-gui",
	  "powershell-core",
	  "microsoft-windows-terminal"
    ],
    "scripts": [
      "reg add HKCU\\Software\\Microsoft\\Windows\\CurrentVersion\\Explorer\\Advanced /v HideFileExt /t REG_DWORD /d 0 /f",
	  "show-windowsdeveloperlicenseregistration",
	  "reg add \"HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\AppModelUnlock\" \/t REG_DWORD \/f \/v \"AllowDevelopmentWithoutDevLicense\" \/d \"1\"",
      ".\\Trementa.Development.profile.ps1 -defaultRoot D:\\Source -install -continue"
    ]
}
