{
	"choco_sources":
	{
		"windowsfeatures": [
				"HypervisorPlatform",
				"VirtualMachinePlatform",
				"Microsoft-Hyper-V-All",
				"Containers",
				"Containers-DisposableClientVM",
				"Microsoft-Windows-Subsystem-Linux"
		],
		"*": [
			"wsl2",
			"wsl-ubuntu-2004",
			"notepadplusplus",
			"nodejs",
			"git",
			"docker-desktop",
			"visualstudio2022community-preview --pre --package-parameters '--allWorkloads --includeRecommended --includeOptional --passive --locale en-US'",
			"vscode",
			"sql-server-management-studio",
			"ditto",
			"office2019proplus",
			"teams",
			"spotify",
			"paint.net",
			"googlechrome",
			"openconnect-gui",
			"powershell-core",
			"microsoft-windows-terminal",
			"7zip"
		]
	},
    "scripts": [
		"reg add HKCU\\Software\\Microsoft\\Windows\\CurrentVersion\\Explorer\\Advanced /v HideFileExt /t REG_DWORD /d 0 /f",
		"show-windowsdeveloperlicenseregistration",
		"reg add \"HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\AppModelUnlock\" \/t REG_DWORD \/f \/v \"AllowDevelopmentWithoutDevLicense\" \/d \"1\""
    ]
}
