{
	"folders":
	{
		"root": ".",
		"source": "..",
		"configs": "configs",
		"scripts": "scripts",
		"prov": "gkkg-admin",
		"auth" : "gkkg-auth",
		"api": "gkkg-api",
		"gui": "gkkg-frontend",
		"tools": "gkkg-tools",
		"util": "gkkg-utility",
		"mqtt": "gkkg-mqtt-connector",
		"nuget": "nuget",		
		"bin": "*bin",
		"debug": "*bin\\debug\\net5.0",
		"release": "*bin\\release\\net5.0"
	},	
	"visualstudio": "^18.0.0"
}
