@using Microsoft.OpenApi.Models
@using OpenApi.Generator.CSharp
@inherits CodeTemplate<(string Name, OpenApiSchema Type)>
@{
    DisableEncoding = true;
}
using System;
using System.Collections.Generic;
using System.Runtime.Serialization;
using System.Text.Json.Serialization;
@GetUsings("", "Client", "Types")

#nullable disable
namespace @(GetNamespace("Model"))
{
    @{ await IncludeAsync("ModelClass", Model); }
}
